body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  min-height: 700px;
  width: 60%;
  max-width: 500px;
  border-radius: 14px;
  background: var(--background-form);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 30px 0 50px 0;
}


button {
  margin-top: 0.5rem;
}
