@if (showForm) {
<body>
  <main>
    <header>
      <app-logo></app-logo>
      <h1>Barberqueue</h1>
      <p>Crea tu cuenta de cliente</p>
    </header>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Input nombre completo -->
      <div class="input-wrapper">
        <label for="fullName">Nombre Completo</label>
        <div class="input-container">
          <img src="/assets/icons/person.svg" alt="" />
          <input
            type="text"
            id="fullName"
            placeholder="Juan Pérez"
            formControlName="name"
          />
        </div>
        <!--mensaje de error-->
        @if ( (registerForm.get('name')?.invalid &&
        registerForm.get('name')?.dirty) || registerForm.get('name')?.touched )
        {
        <div class="error-message">
          @if (registerForm.get('name')?.hasError('required')) {
          <span>El campo es obligatorio</span>
          } @if (registerForm.get('name')?.hasError('pattern')) {
          <span>Formato de nombre invalido</span>
          }
        </div>
        }
      </div>
      <!-- Input email -->
      <div class="input-wrapper">
        <label for="email">Email</label>
        <div class="input-container">
          <img src="/assets/icons/email.svg" alt="" />
          <input
            type="email"
            id="email"
            placeholder="tu@email.com"
            formControlName="email"
          />
        </div>
        @if ( (registerForm.get('email')?.invalid &&
        registerForm.get('email')?.dirty) || registerForm.get('email')?.touched
        ) {
        <div class="error-message">
          @if (registerForm.get('email')?.hasError('required')) {
          <span> El campo es obligatorio</span>
          } @if (registerForm.get('email')?.hasError('email')) {
          <span>Formato de email invalido</span>
          }
        </div>
        }
      </div>
      <!-- Input contraseña -->
      <div class="input-wrapper">
        <label for="password">Contraseña</label>
        <div class="input-container">
          <img src="/assets/icons/lock.svg" alt="" />
          <input
            type="password"
            id="password"
            placeholder="••••••••"
            formControlName="password"
          />
        </div>
        @if ( (registerForm.get('password')?.invalid &&
        registerForm.get('password')?.dirty) ||
        registerForm.get('password')?.touched ) {
        <div class="error-message">
          @if (registerForm.get('password')?.hasError('required')) {
          <span>EL campo es requerido</span>
          }@if (registerForm.get('password')?.hasError('minlength')) {
          <span>La contraseña debe ser mayor a 8 caracteres</span>
          }
        </div>
        }
      </div>
      <!-- Input confirmar contraseña -->
      <div class="input-wrapper">
        <label for="confirmPassword">Confirmar Contraseña</label>
        <div class="input-container">
          <img src="/assets/icons/lock.svg" alt="" />
          <input
            type="password"
            id="confirmPassword"
            placeholder="••••••••"
            formControlName="confirmPassword"
          />
        </div>
        @if ( registerForm.get('confirmPassword')?.dirty ||
        registerForm.get('confirmPassword')?.touched ) {
        <div class="error-message">
          <!-- Requerido -->
          @if (registerForm.get('confirmPassword')?.hasError('required')) {
          <span>EL campo es requerido</span>
          }
          <!-- Contraseñas no coinciden -->
          @if ( !registerForm.get('confirmPassword')?.hasError('required') &&
          registerForm.hasError('passwordNoMatch') ) {
          <span>La contraseñas no coinciden</span>
          }
        </div>
        }
      </div>
      <button type="submit">Crear cuenta</button>
      <a routerLink="/login"
        >¿Ya tienes una cuenta? <span>Iniciar sesión</span></a
      >
    </form>
  </main>
</body>
}
