# -------------------------------
# Angular build output
# -------------------------------
/dist
/out-tsc
/.angular/cache

# -------------------------------
# Node
# -------------------------------
/node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# -------------------------------
# Environment files (muy importante)
# -------------------------------
/src/environments/

# -------------------------------
# Logs
# -------------------------------
*.log
logs/
logs/*.log

# -------------------------------
# IDEs and editors
# -------------------------------
/.idea/
/.vscode/
/*.code-workspace
*.sublime-workspace
.history/*

# -------------------------------
# Miscellaneous
# -------------------------------
/.sass-cache/
/connect.lock
/coverage
/typings
/*.tsbuildinfo

# -------------------------------
# System files
# -------------------------------
.DS_Store
Thumbs.db
