.navbar {
  background: black;
  width: 100%;
  height: 125px;
}

.div-logo {
  display: flex;
  column-gap: 10px;
  margin-left: 15px;
  align-items: center;
  height: 40px;
}

.navbar .div-rol p:first-of-type {
  font-size: 16px;
  font-weight: bold;
}

.navbar .div-rol p:nth-of-type(2) {
  font-size: 14px;
}

.logo-navbar {
  margin-top: 30px;
}

.div-rol {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 25px;
}

.nav-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  margin-top: 15px;
  gap: 10px;

  .nav-button {
    width: 137px;
    height: 36;
    height: 40px;
    font-size: 14px;
    background: none;
    color: var(--font-color-3);
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
  .nav-button:hover {
    background: var(--primary-background);
    color: var(--font-color-1);
  }
  .nav-icon {
  }
}
