.navbar {
  background: black;
  width: 100%;
  height: 125px;
}

.div-logo {
  display: flex;
  column-gap: 10px;
  margin-left: 15px;
  align-items: center;
  height: 40px;
}

.navbar .div-rol p:first-of-type {
  font-size: 16px; 
  font-weight: bold; 
}

.navbar .div-rol p:nth-of-type(2) {
  font-size: 14px; 
}


.logo-navbar {
  margin-top: 18px;
}

.div-rol {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 13px;
}
