<nav class="navbar">
  <div class="div-logo">
    <app-logo
      class="logo-navbar"
      width="40px"
      height="40xp"
      borderRadius="10px"
    ></app-logo>
    <div class="div-rol">
      <p>BarberQueue</p>
      <p>{{ role }}</p>
    </div>
  </div>
  <div class="nav-buttons">
    <button
      class="nav-button"
      *ngFor="let option of optionsNav"
      [routerLink]="option.route"
    >
      <img class="nav-icon" *ngIf="option.icon" [src]="option.icon" />
      {{ option.label }}
    </button>
    <div class="user-info" *ngFor="let user of dataClient">
      <p class="user-name">{{ user.name }}</p>
      <p class="user-email">{{ user.email }}</p>
    </div>

    <button class="logout-button" (click)="logout()">Cerrar Sesion</button>
  </div>
</nav>
