<app-navbar></app-navbar>

<app-logo></app-logo>

<section class="section-turn">
  <h1>BarberQueue</h1>
  <p>Toma tu turno en segundos</p>

  <div value="" class="options-court">
    <div>
      Corte 1
      <span class="time-court">$10</span>
      <span class="price-court">$20</span>
    </div>
    <div>
      Corte 2
      <span class="time-court">$10</span>
      <span class="price-court">$20</span>
    </div>
    <div>
      Corte 3
      <span class="time-court">$10</span>
      <span class="price-court">$20</span>
    </div>
    <div>
      Corte 4
      <span class="time-court">$10</span>
      <span class="price-court">$20</span>
    </div>
  </div>
</section>
<section class="select-barber">
  <h1>Elige tu barbero</h1>
  <p>firstLetter</p>
  <p>name</p>
  <p>state available or busy etc</p>
  <button><img src="/assets/icons/fork.svg" alt="" />Tomar Turno</button>
</section>
